{% load static %}
<section class="widget post-right-item">
    <h4 class="post-right-title">热门推荐</h4>
    <ul class="post-hot clearfix">
        {% for hr in remen %}
            <li>
                <div class="img">

                    <a href="{% url 'index' %}show-{{ hr.id }}.html"
                       title="{{ hr.title }}"><img
                            src="{% url 'index' %}media/{{ hr.img }}"
                            srcset="{% url 'index' %}media/{{ hr.img }}"
                            alt="{{ hr.title }}" class="wp-post-image" width="120"
                            height="80"/></a>
                </div>
                <div class="text">
                    <a href="{% url 'index' %}show-{{ hr.id }}.html" title="{{ hr.title }}"
                       target="_blank">{{ hr.title }}</a>
                </div>
            </li>
        {% endfor %}


    </ul>
</section>


</section>
<section class="widget post-right-item"><h4 class="post-right-title">所有标签</h4>
    <div class="tags">

        {% for tag in tags %}
            <a href="{% url 'index' %}tag/{{ tag.name }}">{{ tag.name }}</a>
        {% endfor %}

    </div>
</section>
</section><!-- /关注我们 -->
<div class="post-right-item">
    <h4 class="post-right-title">关注我们</h4>
    <div class="wid-about">
        <p>日天博客，欢迎关注！</p>
        <img src="{% static 'picture/weixinqr.jpg' %}" alt="微信二维码-互联网的一些事" width="160" height="160">
    </div>
    <div class="wid-about">
        <p><strong>联系方式:</strong></p>
        <p>QQ:1477959747</p>
        <p>Email：1477959747@qq.com</p>
    </div>
</div>
